/* src/Stopwatch.module.css */
.timer {
	font-size: 2rem;
	color: #333;
  }
  
  .buttons {
	display: flex;
	gap: 1px;
  }
  
  .button {
	padding: 10px 20px;
	background-color: #e7eae7;
	border: 1px solid rgb(203, 198, 198);
	color: rgb(30, 28, 28);
	cursor: pointer;
	font-size: 1rem;
  }
  
  /* .button:hover {
	background-color: #454845;
  } */
  